doctype html(lang='en')
html
    head
        meta(charset='UTF-8')
        title Four in a Row | #{title}
        link(href='https://fonts.googleapis.com/css?family=Wendy+One', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='static/stylesheets/style.css')
    body

        block content

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='static/js/Game.js')
        script(src='static/js/Board.js')
        script(src='static/js/Space.js')
        script(src='static/js/Player.js')
        script(src='static/js/Token.js')
        script(src='static/js/app.js')